html {
  scroll-behavior: smooth;
}

body {
	font-family: 'Roboto', sans-serif;
	color: #3a0e0e;
	font-size: 20px;
	line-height: 2.5;
	font-weight: 500;
	margin: 0;
	
}

* {
	box-sizing: border-box;
}

#head {
	position: sticky;
  top: 0;
  width: 100%;
	
}

.navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	font-size: 20px;
	list-style-type: none;
	padding: 0%;
	margin: 0%;
	background-color: rgba(238, 241, 8, 0.2);
	
}

h2 {
  scroll-margin-top: 50px;
}
h2:target {
	text-decoration: underline;
	text-decoration-color: rgb(170, 0, 0);
}

a {
	text-decoration: none;
}

a:hover {
	color: rgb(170, 0, 0);
}

.navigation li {
	margin: 1%;
}


.block_right_nav {
	flex-grow: 1;
}

.my_photo {
	width: 100%;
	height: auto;
	margin: auto;
	display: block;
}

.block_right img {
	height: 60px;
	width: auto;
}

.icon_email {
	list-style-image: url(assets/img/icon/pngwing1.png);
	height: 30px;
}
.icon_github {
	list-style-image: url(assets/img/icon/pngwing3.png);
	height: 30px;
}
.icon_telegram {
	list-style-image: url(assets/img/icon/pngwing2.png);
	height: 30px;
}

.block_right ul {
	list-style-image: url(assets/img/icon/pngwing4.png);
}

.block_right h1 {
	text-align: center;
}
.block_right p {
	text-align: center;
}
.container {
	max-width: 1440px;
	margin: 0 auto;
	display: flex;
}

.block_left {
	width: 300px;
	padding: 10px;
	background-color: black;
}

.block_right {
	flex-grow: 1;
	width: 500px;
	padding: 30px;
	background-color: rgba(238, 241, 8, 0.2);
	
}

.block_left h2 {
	float: right;
	color: rgba(238, 241, 8, 0.8);
}
.coder {
	float: left;
}

.footer .block_left {
	display: flex;
  align-items: center;
  justify-content: center;
	color:rgb(252, 252, 206);
}

.footer .block_right {
	display: flex;
  align-items: center;
	justify-content: space-around;
	align-items: center
}

.footer .footerImg {
	height: 50px;
}
